#menu{
	background-color: white;
	width: 100%;
}

#omaga{
	background-color: white;
	width: 100%;
}
.red{background-color: red;}
.gren{background-color: limegreen;}
.yelo{background-color: yellow;}